<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <span class="navbar-brand">TODO App</span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/todos"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >TODOS List</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/todos/create"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Create TODO</a
          >
        </li>
      </ul>
      <span class="d-flex">
        <a href="https://www.linkedin.com/in/mathieu-fourtan%C3%A9/">MF</a>
      </span>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
