<div class="text-center">
    <h1 class="text-primary">Welcome to the TODO App</h1>
    <p class="text-secondary">
      This is a simple application to manage your TODOs
    </p>
    <p class="text-secondary">
        Technologies used : Angular, NodeJS, Express (and Bootstrap for the UI)
    </p>
    <img
      src="../assets/todo-icon.png"
      alt="Description de l'image"
      class="image-homepage mb-2"
    />

    <p class="text-secondary">
        Developed by Mathieu FOURTANE
    </p>
  </div>
  
